{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"node": true
	},
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"semi": [
			"error",
			"never"
		],
		"quotes": [
			"error",
			"single"
		],
		"curly": "error",
		"brace-style": "error",
		"indent": [
			"error",
			"tab"
		]
	}
}
